* {
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fcf7ed;
}

html {
  margin-bottom: 5rem;
}

.title {
  margin-bottom: 5rem;
}

h1 {
  margin: 11rem auto 3rem;
  font-size: 3.5rem;
  font-family: "C";
  letter-spacing: 2px;
}

.title h3 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.5px;
  color: rgb(123, 37, 15);
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3.5rem;
}